* {
	 box-sizing: border-box;
}


/** HEADER **/
#header-nav {
	background-color: white;
	border-radius: 0;
	border: 0; /**/
	margin-bottom: 0;
}
#navigation-container {
	position: relative;
	/*height: 100px;*/
}
#up-corner-header {
	position: relative; /*absolute??*/
	padding-top: 5px;
	height: 30px;	
}
#main-header {
	/*height: 65px;*/
	padding-left: 0;
}
#logo-header {
	padding-bottom: 3px;
 /*	margin-right: 5px; */
 	
}
#logo-img {
	background: url('../images/header/logo.png') no-repeat;
	width: 238px;
	height: 62px;
	margin: 0;
}
#collapsable-nav { 
	position: absolute; 
	bottom: 5px;
	left: 253px;
	margin: 0;
} 
#support {
	color: #59b8f8;
	margin-bottom: 0;
}
#nav-list a {
	font-size: 0.9em;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}
#nav-list a:hover {
	background: #d3ecfd;
}
#navbar-toggle{
	margin-top: 17px;
	margin-bottom: 17px;
}
/** END HEADER **/

/** FOOTER **/ 
.panel-footer {
	background-color: #333;
	border: 0;
}
#home > span, #about_us > span, #services > span, #accounts > span  {
	color: rgb(0, 160, 255);
	font-size: 1.3em;
}
#home > a, #about_us > a, #services > a, #accounts > a {
	color: white;
}
/** END FOOTER **/

/** MAIN CONTENT **/
#main-content {
	padding: 0px;
	border-radius: 0px;
	border: 0;
}
#home-img {
	background: url('../images/home/home_background.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
	border-radius: 0;
}
.jumbotron {
	position: relative;
	margin-bottom: 0;
	padding: 0;
	display: block;
	padding-right: 15px;
}
#jumbotron-heading {
	text-align: right;
	color: white;
	padding-top: 31px;
	margin-top: 0px;
}
#jumbotron-get-a-quote {
	float: right;
	border-radius: 0;
	border: 0;
	color: #004c8f;
	height: 32px;
	width: 120px;
	margin-top: 80px;
	background-color: #dde1e3;
}
#home-img-div{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,0.3);
	height: 60px;
}
#home-img-row-container{
	height: 60px;
}
#home-img-row{
	margin-top: 0px;
	height: 60px;
}
#home-img-inputtext{
	border-radius: 0;
	border: 4px solid #128fe2;
	height: 30px;
	font-size: 0.9em;
	padding: 0 0 0 12px;
}
#home-img-dropdown{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #004c8f;
	background-color: #004c8f;
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
	height: 30px;
	font-size: 0.9em;
}
#home-img-button{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #42aaf0;
	background-color: #42aaf0;
	height: 30px;
	font-size: 0.9em;
	text-align: center;
}
#home-img-inputtext-div, #home-img-dropdown-div, #home-img-button-div {
	height: 100%;
	margin-bottom: 0;
	padding: 15px;
}
#whyMedobal{
	position: relative;
	background-size: cover;
	background-color: #11629c;
	padding-bottom: 30px;
}
#whyMedobal-header {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}
#icon-text-uppercase{
	text-align: center;
	display: block;
	color: white;
	text-transform: uppercase;
}
#icon-text-normal {
	text-align: center;
	display: block;
	color: white;
}



#needHelpSupport {
	background-color: #3ea5ea;
	background-size: cover;
	height: 60px;
}
#needHelp {
	text-align: center;
	font-size: 1.6em;
	color: white;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 14px;
}

#quote {
	background-color: #11629c;
	background-size: cover;
}
#quote-header {
	color: white;
	margin-bottom: 30px;
}

/** END MAIN CONTENT **/





/********** Large devices only - lg **********/
@media (min-width: 1200px) {

 
}

/********** Medium devices only - md **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only - sm **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Extra small devices only - xs **********/
@media (max-width: 767px) {
/** HEADER **/
#main-header {
	padding-left: 15px;
}
#logo-header {
	padding-left: 15px;
	padding-bottom: 0px;
}
#navigation-container {
	padding-top: 5px;
	padding-bottom: 5px;
}


/** END HEADER **/


/** FOOTER **/
#home, #about_us, #services, #accounts {
	text-align: center;
}
/** END FOOTER **/
  
}











/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}

















