* {
	 box-sizing: border-box;
}
body {

}

/** HEADER **/
#up-header-content {
	padding-top: 2px;
}
#header-nav {
	background-color: white;
	border-radius: 0;
	border: 0; /**/
	margin-bottom: 0;
}
#logo-img {
	background: url('../images/header/logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 70px;
	width: 268px;
}
#nav-list a {
	font-size: 0.9em;
	padding-top: 5px;
	padding-bottom: 0px;
	color: black;
}

#collapsable-nav {
	margin-top: 35px;
	margin-bottom: 10px; 
}
/** END HEADER **/

/** FOOTER **/ 
.panel-footer {
	background-color: #333;
	border: 0;
}
#home > span, #about_us > span, #services > span, #accounts > span  {
	color: rgb(0, 160, 255);
	font-size: 1.3em;
}
#home > a, #about_us > a, #services > a, #accounts > a {
	color: white;
}
/** END FOOTER **/


/** MAIN CONTENT **/
#banner {
	position: relative;
}

#jumbotron-heading {
	text-align: right;
	color: white;
	padding-top: 31px;
	margin-top: 0px;
	padding-bottom: 25px;
}
#jumbotron-get-a-quote {
	float: right;
	border-radius: 0;
	border: 0;
	color: #004c8f;
	height: 32px;
	width: 120px;
	margin-top: 80px;
	background-color: #dde1e3;
}
#banner-jumbotron {
	background: url('../images/home/home_background.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 450px;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
}

#banner-div{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,0.3);
	height: 60px;
}
#banner-row-container{
	height: 60px;
}
#banner-row{
	margin-top: 0px;
	height: 60px;
}
#banner-inputtext{
	border-radius: 0;
	border: 4px solid #128fe2;
	height: 30px;
	font-size: 0.9em;
	padding: 0 0 0 12px;
}
#banner-dropdown{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #004c8f;
	background-color: #004c8f;
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
	height: 30px;
	font-size: 0.9em;
}
#banner-button{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #42aaf0;
	background-color: #42aaf0;
	height: 30px;
	font-size: 0.9em;
	text-align: center;
}
#banner-inputtext-div, #banner-dropdown-div, #banner-button-div {
	height: 100%;
	margin-bottom: 0;
	padding: 15px;
}

#whyMedobal{
	background-size: cover;
	background-color: #11629c;
	padding-bottom: 30px;
}
#whyMedobal-header {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}
#icon-row {
	margin-bottom: 17px;
}
#icon-row > div, #icon-text-row > div {
	width: 20%;
}


#star-icon img, #doctor-icon img, #globe-icon img, #accredit-icon img, #costsave-icon img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#icon-text-uppercase{
	text-align: center;
	display: block;
	color: white;
	text-transform: uppercase;
	font-size: 1.1em;
}
#icon-text-normal {
	text-align: center;
	display: block;
	color: white;

}

/* Featured Procedure */ 
#featuredProcedure, #myProcedureCarousel {
	
}

#myProcedureCarousel > div.container {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* #featuredProcedureContent {
	width: 47%;
}
#featuredProcedureImage {
	width: 53%;
} */


#featuredProcedureContent h2 {
	color: #004c8f;
	margin-top: 11px;
	margin-bottom: 12px;
	

}
#featuredProcedureContent p {
	padding-right: 30px;
	color: #777c83;
	font-size: 16px;
	word-break: normal;
	line-height: 1.7;

}
#miniTitleFeatProc {
	padding-top: 6px;
	
}
#featuredProcedureImage img{
	margin-top: 40px;
	margin-bottom: 40px; 
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48);
}

.chevron-feat-proc {
	/*color: #42aaf0;*/
}

/* Need Help Support */ 
#needHelpSupport {
	background-color: #3ea5ea;
	background-size: cover;
	height: 60px;
}
#needHelp {
	text-align: center;
	font-size: 1.6em;
	color: white;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 14px;
}

/* QUOTE */
#quote {
	background-color: #11629c;
	background-size: cover;
}

#quote form {
	display: block;
	position: center;
	margin: 0 auto;
	width: 92%;
}
#quote-header {
	color: white;
	margin-bottom: 30px;
}
/*.form-group select {
	background-image: url('../images/quote/select.png') no-repeat;
	background-position: center right;
} */
#secOpinionDiv, #uploadDocDiv {
	height: 34px;
}
#secOpinionDiv span, #secOpinionDiv label, #uploadDocLabelDiv {
	color: white;
	margin-top: 7px;
	margin-bottom: 7px;

}
.form-group {
	border-radius: 15px;
}
#upload-button {
	height: 34px;
	width: 40px;
	padding: 0;

}
.chevron-up-file{
	color: #42aaf0;
	font-size: 1.5em;
	margin-top: 1.5px;
	margin-bottom: 1.5px;
	margin-left: 2.5px;
}

#uploadDocButtonDiv {
	margin: 0;
}

.custom-file-upload > input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

#upload-button > label {
	width: 40px;
	height: 34px;
	margin: 0;
}

#quote-submit-div {
	margin-bottom: 15px;
}
#quote-submit {
	float: right;
	border-radius: 0;
	color: white;
	border-color: #42aaf0;
	background-color: #42aaf0;
	height: 34px;
	font-size: 1.2em;
	text-align: center;

}


/** END MAIN CONTENT **/





/********** Large devices only - lg **********/
@media (min-width: 1200px) {
	.container {
		width: 1020px;
	}

	/** MAIN CONTENT **/
	#featuredProcedureContent {
		width: 47%;
	}
	#featuredProcedureImage {
		width: 53%;
	}	
	/** END MAIN CONTENT **/
 
}

/********** Medium devices only - md **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/** MAIN CONTENT **/
	#featuredProcedureContent {
		width: 47%;
	}
	#featuredProcedureImage {
		width: 53%;
	}	
	/** END MAIN CONTENT **/

}

/********** Small devices only - sm **********/
@media (min-width: 768px) and (max-width: 991px) {
 	/** MAIN CONTENT **/
	
	/** END MAIN CONTENT **/
}

/********** Extra small devices only - xs **********/
@media (max-width: 767px) {
	/** HEADER **/ 
	#collapsable-nav {
		margin: 0px; 
		text-align: center;
		width: 100%;
	}
	/** END HEADER **/ 
	/** FOOTER **/
	#home, #about_us, #services, #accounts {
		text-align: center;
	}
	/** END FOOTER **/
	  
}




/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}











