* {
	 box-sizing: border-box;
}


/** HEADER **/
#navigation-container {
	position: relative;
}
#header-nav {
	background-color: white;
	border-radius: 0;
	border: 0; /**/
	margin-bottom: 0;
}
#logo-img {
	background: url('../images/header/logo.png') no-repeat;
	width: 200px;
	height: 52px;
	margin: 25px 10px 0 0px;
}
#up-corner-header {
	position: relative;
	position: top right;	
}
#support {
	color: blue;
}
#collapsable-nav {
	margin-top: 30px;
}

#nav-list a {
	font-size: 0.9em;
}
#nav-list a:hover {
	background: grey;
}
/** END HEADER **/

/** FOOTER **/ 
.panel-footer {
	background-color: #333;
	border: 0;
}
#home > span, #about_us > span, #services > span, #accounts > span  {
	color: rgb(0, 160, 255);
	font-size: 1.3em;
}
#home > a, #about_us > a, #services > a, #accounts > a {
	color: white;
}
/** END FOOTER **/

/** MAIN CONTENT **/
#main-content {
	padding: 0px;
	border-radius: 0px;
	border: 0;
}
#home-img {
	background: url('../images/home/home_background.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
	border-radius: 0;
}
.jumbotron {
	position: relative;
	margin-bottom: 0;
	padding: 0;
	display: block;
	padding-right: 15px;
}
#jumbotron-heading {
	text-align: right;
	color: white;
	padding-top: 31px;
	margin-top: 0px;
}
#jumbotron-get-a-quote {
	float: right;
	border-radius: 0;
	border: 0;
	color: #004c8f;
	height: 32px;
	width: 120px;
	margin-top: 80px;
	background-color: #dde1e3;
}
#home-img-div{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,0.3);
	height: 60px;
}
#home-img-row-container{
	height: 60px;
}
#home-img-row{
	margin-top: 0px;
	height: 60px;
}
#home-img-inputtext{
	border-radius: 0;
	border: 4px solid #128fe2;
	height: 30px;
	font-size: 0.9em;
	padding: 0 0 0 12px;
}
#home-img-dropdown{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #004c8f;
	background-color: #004c8f;
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
	height: 30px;
	font-size: 0.9em;
}
#home-img-button{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #42aaf0;
	background-color: #42aaf0;
	height: 30px;
	font-size: 0.9em;
	text-align: center;
}
#home-img-inputtext-div, #home-img-dropdown-div, #home-img-button-div {
	height: 100%;
	margin-bottom: 0;
	padding: 15px;
}
#whyMedobal{
	position: relative;
	background-size: cover;
	background-color: #11629c;
	padding-bottom: 30px;
}
#whyMedobal-header {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}
#icon-text-uppercase{
	text-align: center;
	display: block;
	color: white;
	text-transform: uppercase;
}
#icon-text-normal {
	text-align: center;
	display: block;
	color: white;
}



#needHelpSupport {
	background-color: #3ea5ea;
	background-size: cover;
	height: 60px;
}
#needHelp {
	text-align: center;
	font-size: 1.6em;
	color: white;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 14px;
}

#quote {
	background-color: #11629c;
	background-size: cover;
}
#quote-header {
	color: white;
	margin-bottom: 30px;
}




/** END MAIN CONTENT **/
