* {
	 box-sizing: border-box;
}
body {
	background-color: white;
}

/** HEADER **/
#up-header-content {
	padding-top: 2px;
}
#header-nav {
	background-color: white;
	border-radius: 0;
	border: 0; /**/
	margin-bottom: 0;
}
#logo-img {
	background: url('../images/header/logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 70px;
	width: 268px;
}
#nav-list a {
	font-size: 0.9em;
	padding-top: 5px;
	padding-bottom: 0px;
	color: black;
}
#collapsable-nav {	
	margin-top: 35px;
	margin-bottom: 10px; 
}
/** END HEADER **/

/** FOOTER **/ 
.panel-footer {
	padding-top: 20px;
	background-color: #333;
	border: 0;
	position: relative;
	padding-bottom: 0;
}
#footer-inner-container {
	padding-right: 0;
	padding-left: 0;
	width: 92%;
}
#footer-heading  {
	color: rgb(0, 160, 255);
	font-size: 1.4em;
	margin-bottom: 17px;
}
#footer-section-list {
	list-style-type: none;
	padding-left: 0;
}
#footer-section-list > li {
	list-style-image: none;
	margin-top: 5px;
}
#footer-section-list a {
	color: white;
	font-size: 15px;
}
#footer-section-list a:hover {
	color: rgb(0, 160, 255);
	text-decoration: none;
}
#socialmedia {
	width: 264px;
	position: absolute;
	right: 0;
	bottom: 10px;
}
#socialmedia-div {
	display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    padding: 0px;
    width: 35px;
    height: 35px;
}
#socialmedia-div > a > div{
	width: 35px;
    height: 35px;
}
#twitter {
	background: url('../images/footer/twitter.png') no-repeat;
}
#twitter:hover {
	background: url('../images/footer/twitter-blue.png') no-repeat;
}
#facebook {
	background: url('../images/footer/facebook.png') no-repeat;
}
#facebook:hover {
	background: url('../images/footer/facebook-blue.png') no-repeat;
}
#pinterest {
	background: url('../images/footer/pint.png') no-repeat;
}
#pinterest:hover {
	background: url('../images/footer/pint-blue.png') no-repeat;
}
#instagram {
	background: url('../images/footer/web.png') no-repeat;
}
#instagram:hover {
	background: url('../images/footer/web-blue.png') no-repeat;
}
#linkedin {
	background: url('../images/footer/linked.png') no-repeat;
}
#linkedin:hover {
	background: url('../images/footer/linked-blue.png') no-repeat;
}
#arrow {
	background: url('../images/footer/arrow.png') no-repeat;
}
#arrow:hover {
	background: url('../images/footer/arrow-blue.png') no-repeat;
}
/** END FOOTER **/

/** MAIN CONTENT **/

/* Banner */
#banner {
	position: relative;
}
#jumbotron-heading {
	text-align: right;
	color: white;
	padding-top: 31px;
	margin-top: 0px;
	padding-bottom: 25px;
}
#jumbotron-get-a-quote {
	float: right;
	border-radius: 0;
	border: 0;
	color: #004c8f;
	height: 32px;
	width: 120px;
	margin-top: 80px;
	background-color: #dde1e3;
}
#banner-jumbotron {
	background: url('../images/home/home_background.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 450px;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
}
#banner-div{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,0.3);
	height: 60px;
}
#banner-row-container{
	height: 60px;
}
#banner-row{
	margin-top: 0px;
	height: 60px;
}
#banner-inputtext{
	border-radius: 0;
	border: 4px solid #128fe2;
	height: 30px;
	font-size: 0.9em;
	padding: 0 0 0 12px;
}
#banner-dropdown{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #004c8f;
	background-color: #004c8f;
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
	height: 30px;
	font-size: 0.9em;
}
#banner-button{
	width: 100%;
	border-radius: 0;
	color: white;
	border-color: #42aaf0;
	background-color: #42aaf0;
	height: 30px;
	font-size: 0.9em;
	text-align: center;
}
#banner-inputtext-div, #banner-dropdown-div, #banner-button-div {
	height: 100%;
	margin-bottom: 0;
	padding: 15px;
}

/* Why Medobal */
#whyMedobal{
	background-size: cover;
	background-color: #11629c;
	padding-bottom: 30px;
}
#whyMedobal-header {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}
#icon-row {
	margin-bottom: 17px;
}
#icon-row > div, #icon-text-row > div {
	width: 20%;
}
#star-icon span, #doctor-icon span, #globe-icon span, #accredit-icon span, #costsave-icon span{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#star-icon-image {
	background: url('../images/home/why-medobal-icons/star-icon-blue.png') no-repeat;
	width: 45px;
	height: 43px;
}
#star-icon-image:hover {
	background: url('../images/home/why-medobal-icons/star-icon.png') no-repeat;
	width: 45px;
	height: 43px;
}
#doctor-icon-image {
	background: url('../images/home/why-medobal-icons/doctor-icon-blue.png') no-repeat;
	width: 45px;
	height: 48px;
}
#doctor-icon-image:hover {
	background: url('../images/home/why-medobal-icons/doctor-icon.png') no-repeat;
	width: 45px;
	height: 48px;
}
#globe-icon-image {
	background: url('../images/home/why-medobal-icons/globe-icon-blue.png') no-repeat;
	width: 45px;
	height: 45px;
}
#globe-icon-image:hover {
	background: url('../images/home/why-medobal-icons/globe-icon.png') no-repeat;
	width: 45px;
	height: 45px;
}
#accredit-icon-image {
	background: url('../images/home/why-medobal-icons/accredit-icon-blue.png') no-repeat;
	width: 45px;
	height: 56px;
}
#accredit-icon-image:hover {
	background: url('../images/home/why-medobal-icons/accredit-icon.png') no-repeat;
	width: 45px;
	height: 56px;
}
#costsave-icon-image {
	background: url('../images/home/why-medobal-icons/costsave-icon-blue.png') no-repeat;
	width: 45px;
	height: 42px;
}
#costsave-icon-image:hover {
	background: url('../images/home/why-medobal-icons/costsave-icon.png') no-repeat;
	width: 45px;
	height: 42px;
}
#icon-text-uppercase{
	text-align: center;
	display: block;
	color: white;
	text-transform: uppercase;
	font-size: 1.1em;
}
#icon-text-normal {
	text-align: center;
	display: block;
	color: white;
}

/* Featured Procedure */ 
#featProc-carousel-div {
	position: relative;
}
.carousel-control.left {
	position: absolute;
	width: 25px;
	left: -45px;	
}
#carousel-arrow-left{
	position: relative;
	background: url('../images/home/featured/left-arrow.png') no-repeat;
	width: 25px;
	height: 50px;
	background-size: cover;
	background-position: center;
	top: 139.5px;
}
#carousel-arrow-left:hover{
	position: relative;
	background: url('../images/home/featured/left-arrow-blue.png') no-repeat;
	width: 25px;
	height: 50px;
	background-size: cover;
	background-position: center;
	top: 139.5px;
}
.carousel-control.right {
	position: absolute;
	width: 25px;
	right: -40px;	
}
#carousel-arrow-right{
	position: relative;
	background: url('../images/home/featured/right-arrow.png') no-repeat;
	width: 25px;
	height: 50px;
	background-size: cover;
	background-position: center;
	top: 139.5px;
}
#carousel-arrow-right:hover{
	position: relative;
	background: url('../images/home/featured/right-arrow-blue.png') no-repeat;
	width: 25px;
	height: 50px;
	background-size: cover;
	background-position: center;
	top: 139.5px;
}
.my-carousel-control.carousel-control.left, .my-carousel-control.carousel-control.right {
	background-color: white;
	opacity: 1;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
}
#featuredProcedureContent {
	width: 47%;
}
#featuredProcedureImage {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 53%;
}
#featuredProcedureContent h2 {
	color: #004c8f;
	margin-bottom: 15px;
	margin-top: 13px;
}
#featuredProcedureContent p {
	color: #777c83;
	line-height: 1.6;
	font-size: 15px;
	padding-right: 18px;
}
#miniTitleFeatProc {
	margin-top: 10px;
}
#featuredProcedureImage img{
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48);
	width: 480;
	height: 260;
}




/* Need Help Support */ 
#needHelpSupport {
	background-color: #3ea5ea;
	background-size: cover;
	/*height: 60px;*/
}
#needHelp {
	text-align: center;
	font-size: 1.6em;
	color: white;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 14px;
}

/* Featured Procedure */ 
#featDest-carousel-div {
	position: relative;
}
#miniTitleFeatDest {
	margin-top: 10px;
}
#featuredDestinationImage {
	width: 47%;
}
#featuredDestinationImage h2 {
	
	color: #004c8f;
	margin-bottom: 15px;
	margin-top: 13px;
	text-transform: uppercase;
}
#featuredDestinationPic {
	padding-bottom: 40px;
	padding-left: 0;
	/* width: 53%; */
}
#featuredDestinationPic img{
	width: 420;
	height: 230;
}
#featuredDestinationContent {
	width: 53%;
	margin-bottom: 40px;
}
#featuredDestinationListDiv {
	margin-top: 91px;
	height: 230px;
}
#featuredDestinationList{
	padding-left: 0px;
	list-style-type: none;
}
#featuredDestinationList > li{
	font-size: 16px;
	margin-bottom: 17px;
}


/* QUOTE */
#quote {
	background-color: #11629c;
	background-size: cover;
}
#quote form {
	display: block;
	position: center;
	margin: 0 auto;
	width: 92%;
}
#quote-header {
	color: white;
	margin-bottom: 30px;
}
/*.form-group select {
	background-image: url('../images/quote/select.png') no-repeat;
	background-position: center right;
} */
#secOpinionDiv, #uploadDocDiv {
	height: 34px;
}
#secOpinionDiv span, #secOpinionDiv label, #uploadDocLabelDiv {
	color: white;
	margin-top: 7px;
	margin-bottom: 7px;
}
.form-group {
	border-radius: 15px;
}
#upload-button {
	height: 34px;
	width: 40px;
	padding: 0;
}
.chevron-up-file{
	color: #42aaf0;
	font-size: 1.5em;
	margin-top: 1.5px;
	margin-bottom: 1.5px;
	margin-left: 2.5px;
}
#uploadDocButtonDiv {
	margin: 0;
}
.custom-file-upload > input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 0;
    cursor: pointer;
}
#upload-button > label {
	width: 40px;
	height: 34px;
	margin: 0;
}
#quote-submit-div {
	margin-bottom: 15px;
}
#quote-submit {
	float: right;
	border-radius: 0;
	color: white;
	border-color: #42aaf0;
	background-color: #42aaf0;
	height: 34px;
	font-size: 1.2em;
	text-align: center;
}

/* Blog Topics */
#featuredBlogTopics-container {
	padding-right: 0;
	padding-left: 0;
	width: 92%;
}
#featuredBlogTopics {
	background-color: #dfe0e2;
	padding-top: 10px;
	padding-bottom: 15px;
}
#featuredBlogTopics-title {
	color: #11629c;
	font-size: 20px;
	margin-bottom: 10px;
}
#blogTopics {
	margin-top: 5px;
	font-size: 15px;
}
#blogTopics a{
	color: black;
}
#blogTopics a:hover {
	color: #11629c;
	text-decoration: none;
}
/* End Blog Topics */

/** END MAIN CONTENT **/





/********** Large devices only - lg **********/
@media (min-width: 1200px) {
	.container {
		width: 1020px;
	}

	/** FOOTER **/
	.panel-footer section {
		width: 25%;
	}
	/** END FOOTER **/ 
}

/********** Medium devices only - md **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/** FOOTER **/
	.panel-footer section {
		width: 25%;
	}
	/** END FOOTER **/
}

/********** Small devices only - sm **********/
@media (min-width: 768px) and (max-width: 991px) {
	
}

/********** Extra small devices only - xs **********/
@media (max-width: 767px) {
	/** HEADER **/ 
	#collapsable-nav {
		margin: 0px; 
		text-align: center;
		width: 100%;
	}
	/** END HEADER **/

	/** FOOTER **/
	#home, #about_us, #services, #accounts {
		text-align: center;
	}
	/** END FOOTER **/
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}











